* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: 'Russo One','Pattaya', sans-serif;
    background-image:url("/css/bg-light-0001.gif");
    font-size: 3vw;
}
.header {
    background-color: #3ABAFF;
    color: #ffffff;
    padding: 15px;
}
.menu ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}


.menu button{
    width: 100%;
    height:100%;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border: 0px;
    border-radius: 3px;
    background:  #5BE829;
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

.menu button:hover{
    background: rgb(53, 167, 110);
}

.menu button:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}


.aside {
    background-color: #FFB93A;
    padding: 15px;
    color:  black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color:  #3ABAFF;
    color:  #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    padding: 3px;
    border: 1px solid #000;
}

.tfoot {
    border: 0;
}

.tfoot button{
    width: 100%;
    height:100%;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border: 0px;
    border-radius: 3px;
    background: #CD29E8;
    box-shadow: 0 -3px #8A239B inset;
    transition: 0.2s;
}

.tfoot button:hover{
    background: #8A239B;
}

.tfoot button:active{
    background: #46124F;
    box-shadow: 0 3px rgb(33,147,90) inset;
}

th {
    background: #afd792;
    color: #333;
}
tbody tr:hover {
    background: #f3bd48;
    color: #fff;
}

.selected td{
    background: #f3bd48;
    color: #fff;
}

.lang-button{
    width: 100%;
    height:100%;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border: solid 2px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-color: #86D5FF;
    background: #3ABAFF;
    transition: 0.2s;
    outline: 0;
}


.lang-button:active{
    background: #1D5D7F;
    box-shadow: 0 3px #86D5FF inset;
}

[class*="col-"] {
    width: 100%;
}

.form{
    border: 1px solid ;
    border-radius: 10px;
    padding:20px;
    background-color: #76b3c0;
    margin: 0 auto;
}

.form > div {
    position: relative;
}
.form > div > label {
    opacity: 0.3;
    position: absolute;
    top: 60%;
    left:  2%;
}
.form > div > input[type="text"],
.form > div > input[type="email"],
.form > div > input[type="password"],
.form > div > input[type="number"] {
    border-radius:10px;
    width: 100%;
    border: 0;
    padding: 10px;
    background: #eee;
}
.form > div > input[type="text"]:focus,
.form > div > input[type="email"]:focus,
.form > div > input[type="password"]:focus,
.form > div > input[type="number"]:focus {
    outline: 0;
    background: white;
}
.form > div > input[type="text"]:focus + label,
.form > div > input[type="email"]:focus + label,
.form > div > input[type="password"]:focus + label,
.form > div > input[type="number"]:focus +label {
    opacity: 0;
}
.form > div > input[type="text"]:valid,
.form > div > input[type="email"]:valid,
.form > div > input[type="password"]:valid ,
.form > div > input[type="number"]:valid{
    background: #99ff99;
}
.form > div > input[type="text"]:valid + label,
.form > div > input[type="email"]:valid + label,
.form > div > input[type="password"]:valid + label,
.form > div > input[type="number"]:valid + label {
    opacity: 0;
}
.form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
.form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
.form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown),
.form > div > input[type="number"]:invalid:not(:focus):not(:placeholder-shown)  {
    background: pink;
}
.form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown) + label,
.form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown) + label,
.form > div > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) + label,
.form > div > input[type="number"]:invalid:not(:focus):not(:placeholder-shown) + label {
    opacity: 0;
}
.form > div > input[type="text"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
.form > div > input[type="email"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
.form > div > input[type="password"]:invalid:focus:not(:placeholder-shown) ~ .requirements,
.form > div > input[type="number"]:invalid:focus:not(:placeholder-shown) ~ .requirements {
    max-height: 300px;
    padding: 0 30px 20px 50px;
}
.form > div .requirements {
    padding: 0 0px 0 0px;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
}
.addlot{
    border-radius:10px;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    background: #eee;
}
.addlot:focus{
    outline: 0;
}

.checkAndAddField{
    border-radius:10px;
    width: 100%;
    border: 0;
    padding: 10px;
    background: #eee;
}

.checkAndAddField:focus{
    outline:0;
    background: white;
}

.checkAndAddField:focus + span{
    opacity: 0;
}

.checkAndAddField:valid + span{
    opacity: 0;
}

#parentId{
    margin:5px 0 0 0;
}

::-webkit-input-placeholder {
    font-family: 'Russo One','Pattaya', sans-serif;
    opacity: 0.6;
    font-size: 3vw;

}
::-moz-placeholder          {
    font-family: 'Russo One','Pattaya', sans-serif;
    opacity: 0.6;
    font-size: 3vw;
}
:-moz-placeholder           {
    font-family: 'Russo One','Pattaya', sans-serif;
    opacity: 0.6;
    font-size: 3vw;
}
:-ms-input-placeholder      {
    font-family: 'Russo One','Pattaya', sans-serif;
    opacity: 0.6;
    font-size: 3vw;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.form > label{
    position: relative;
}

.form > label > span{
    opacity: 0.3;
    position: absolute;
    top: 10%;
    left:  2%;
}

.err{
    color: #000000;
    font-size: 3vw;
}

.regButton{
    width: 100%;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    margin: 10px 0 0 0;
    border: 0px;
    border-radius: 3px;
    background:  #5BE829;
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

.regButton:hover{
    background: rgb(53, 167, 110);
}

.regButton:active{
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

@media only screen and (min-width: 100px) {
    [class*="col-"] {width: 100%;}
}

@media only screen and (min-width: 600px) {

    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    .menu ul,li,form{
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .menu form{
        flex: 0 0 auto;
        width: 100%;
        height:100%;
    }
    .lang-button{
        width: auto;
        margin-left: auto;
        margin-right: 0;
    }
    html{
        font-size: 100%;
    }
    .footer{
        font-size: 12px;
    }
    ::-webkit-input-placeholder {
        font-size: 100%;
    }
    ::-moz-placeholder          {
        font-size: 100%;
    }
    :-moz-placeholder           {
        font-size: 100%;
    }
    :-ms-input-placeholder      {
        font-size: 100%;
    }
    .err{
        font-size: 20px;
    }
}
@media only screen and (min-width: 768px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 20%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .menu ul,li,form{
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .menu form{
        flex: 0 0 auto;
        width: 100%;
        height:100%;
    }
    .lang-button{
        width: auto;
        margin-left: auto;
        margin-right: 0;
    }
    html{
        font-size: 100%;
    }
    .footer{
        font-size: 12px;
    }
    ::-webkit-input-placeholder {
        font-size: 100%;
    }
    ::-moz-placeholder          {
        font-size: 100%;
    }
    :-moz-placeholder           {
        font-size: 100%;
    }
    :-ms-input-placeholder      {
        font-size: 100%;
    }
    .err{
        font-size: 40px;
    }
}
